.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    div {
      width: 100px;
    }
    video {
      max-width: 70%;
      margin: 0px 10px;
    }
    button {
      width: 100px;
      height: 50px;
      border-radius: 10px;
      border: 0px;
      color: $bg;
      background-color: $yellow;
      align-self: end;
    }
  }
}
