.empty__message {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 700;
  color: $yellow;
  a {
    text-decoration: underline;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
