extends base.pug
include mixins/video

block content
  div.search__box
    form(method="GET").search__form
      input(placeholder="Search by title",name="keyword", type="text")
      button
        i.fas.fa-search
    
  div.video-grid
    each video in videos
      +video(video)
    else
      div.empty__message
        span.fas.fa-video-slash
        span  NO VIDEO