header
  a(href="/").header__logo
    i.fas.fa-rocket
    span.header__logo-title spaceTUBE
  nav 
    ul 
      li 
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li 
          a(href="/videos/upload")
            i.fas.fa-angle-double-up
        li 
          a(href="/users/edit") edit Profile
        li
          a(href="/users/logout") Log Out
        li 
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === ""
              span 😀
            else
              if loggedInUser.avatarUrl
                if loggedInUser.avatarUrl.includes("github")
                  img.header__avatar(src=loggedInUser.avatarUrl crossorigin)
                else
                  if isHeroku 
                    img.header__avatar(src=loggedInUser.avatarUrl crossorigin)
                  else 
                    img.header__avatar(src="/" + loggedInUser.avatarUrl crossorigin)
      else
        li
          a(href="/Login") Login
        li
          a(href="/join").header__btn Join
